  body{
    margin: 0;
    background-color: #f2f2f2;
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.25rem;
    font-size: .875rem;
    letter-spacing: .014em;
    color: black;
}

#header1 {
    display: flex;
    padding: 20px;
} 

#header1_1 {
    width: 30%;
    display: flex;  
    align-items: center;
} 

#ico_contact{
    margin:0 25px 0 25px;
    height: 50px;
    width: 50px;

}
#txt_contact{
    margin-left: 40px;
    font-size: 15px;
    font-family: sans-serif;

}


/*================================================================*/

#section1{
    padding-bottom: 100px;
    display: flex;
}

#menu{
    padding-bottom: 350px;
    width: 15%;
}

#contenu{
    padding-bottom: 350px;
    width: 80%;
    background-color:white;
    border-radius: 10px;
}





#header1_2 {

    width: 30%;
    display: flex;
    
} 


#header1_3 {
    width: 30%;
    background-color: rgb(184, 72, 174);
    display: flex;
} 

#Recherche{

    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
}

#Ccontact{

    display: block;
    height: 50px;
    width: 130px;
    background-color: aquamarine;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin: 10px;

}

#contact {
    display: block;
    height: 50px;
    width: 130px;
    background-color: aquamarine;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin: 10px;

}




#contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#contact-form label {
    font-weight: bold;
}
#contact-form input[type="text"],#contact-form input[type="telephone"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}



/* 
.add-contact-block {

    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    background-color: #acc5ec;
    padding: 20px;
    border-radius: 8px;
}

.add-icon {

    font-size: 24px;
    margin-right: 10px;
}

.add-text {

    font-size: 16px;
}

.contact-block {

    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    background-color: #acc5ec;
    padding: 20px;
    border-radius: 8px;
}

.c-add {

    font-size: 24px;
    margin-right: 10px;
}

.add-txt {

    font-size: 16px;
}




.search-block {

    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 2px;
    padding: 5px;

}

.search-block
input[type="text"] {

    width: 100ù;
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
}

.search-block
button[type="submit"]
{
    padding: 5px 10px;
    background-color: #4285f4;
    color: none;
    border: none;
    border-radius: 2px;
    font-size: 16px;

}

 


.myContainer {
    
    display: flex;
    justify-content: center;
    align-items: center;
  

}
#myBlock {
   
    width: 2000px;
    height: 1000px;
    border: 1px solid #f2f2f2eb;

}  

.entete {
    
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    

}*/


